scikit-learn==1.2.2
pandas==1.5.3
numpy~=1.24.2
# Build & Development needed packages
pytest==7.2.2
pytest-cov==4.0.0
flake8==6.0.0
wheel==0.40.0
pip==23.0.1
setuptools==67.2
build==0.10.0
bump2version @ git+https://github.com/c4urself/bump2version@bc95374d0dff73e610bed520846f88859815e532
# bump2version ==1.0.1
